/la Tiendita/nbproject/private/
/nbproject/private/
/ruleta/nbproject/private/
/ruleta/build/
/EjercicioRuleta/nbproject/private/
/ruleta/dist/
/EjercicioRuleta/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/build/